@import url(general.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    overflow: hidden;

    .input{
        padding-inline: 40px;
    }

    #surname{
        display: none;
    }
}